[submodule "themes/book-theme"]
	path = themes/book-theme
	url = https://github.com/executablebooks/myst-book-theme
[submodule "themes/article-theme"]
	path = themes/article-theme
	url = https://github.com/executablebooks/myst-article-theme
[submodule "patches"]
	path = patches
	url = git@github.com:executablebooks/myst-theme-patches.git
