@layer components {
  a.button,
  button.button,
  span.button,
  cite.button a {
    @apply px-4 py-2 font-bold rounded no-underline cursor-pointer;
    @apply text-white dark:text-white hover:text-white dark:hover:text-white;
    @apply bg-blue-500 whitespace-nowrap;
    &:hover {
      @apply bg-blue-700;
    }
    /* Hide external link icon on buttons */
    .external-link-icon {
      @apply hidden;
    }
  }
}
