cite {
  font-style: normal;
}
.cite-group.parenthetical cite::after {
  content: ';\00a0';
}
.cite-group.narrative cite::after {
  content: ',\00a0';
}
.cite-group > cite:last-of-type::after {
  content: '';
}
.cite-group.parenthetical:before {
  content: '(';
}
.cite-group.parenthetical:after {
  content: ')';
}
