cite {
  font-style: normal;
}
.cite-group.parenthetical > *::after {
  content: ';\00a0';
}
.cite-group.narrative > *::after {
  content: ',\00a0';
}
.cite-group > *:last-of-type::after {
  content: '';
}
.cite-group.parenthetical:before {
  content: '(';
}
.cite-group.parenthetical:after {
  content: ')';
}
