figure.fig-quote figcaption {
  text-align: right;
}
figure.fig-quote figcaption > p:before {
  content: '—';
  padding-right: 0.5em;
}
figure.fig-quote.pull-quote > blockquote { 
  font-size: 1.4rem;
}
figure.fig-code > div {
  margin: 0;
}
figure.subcontainer {
  margin-bottom: 0;
}
figure.subcontainer figcaption {
  margin-top: 0.25em;
  text-align: center;
}
figure figcaption > p {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
figure img {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
