.font-system {
  font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
}

.jupyter-error {
  @apply bg-red-100;
}

/* Hide the output prompts from jupyter by default */
.jp-OutputPrompt {
  @apply hidden;
}

/* Pandas tables */
/* Here we use important to overwrite mt from typography.css */

table.dataframe {
  @apply border-none border-collapse border-spacing-0 text-xs table-fixed m-0 !important;
}

.dataframe thead {
  @apply align-bottom border-b border-black;
}

.dataframe th {
  @apply font-bold;
}

.dataframe td {
  @apply p-2 leading-normal text-right whitespace-normal align-middle border-none max-w-none;
}

/* System to override the Jupyter colors depending on line parity */

.jp-OutputArea-output table tr:nth-child(odd) {
  @apply bg-neutral-100 dark:bg-neutral-900 [&>*]:hover:bg-sky-100 [&>*]:dark:hover:bg-sky-950;
}

.jp-OutputArea-output table tr:nth-child(even) {
  @apply bg-neutral-200 dark:bg-neutral-800 [&>*]:hover:bg-sky-100 [&>*]:dark:hover:bg-sky-950;
}

html.dark {
  /* Defaults use Material Design specification */
  --jp-ui-font-color0: rgba(255, 255, 255, 1);
  --jp-ui-font-color1: rgba(255, 255, 255, 0.87);
  --jp-ui-font-color2: rgba(255, 255, 255, 0.54);
  --jp-ui-font-color3: rgba(255, 255, 255, 0.38);
  --jp-ui-inverse-font-color0: rgba(0, 0, 0, 1);
  --jp-ui-inverse-font-color1: rgba(0, 0, 0, 0.8);
  --jp-ui-inverse-font-color2: rgba(0, 0, 0, 0.5);
  --jp-ui-inverse-font-color3: rgba(0, 0, 0, 0.3);
  --jp-content-font-color0: rgba(255, 255, 255, 1);
  --jp-content-font-color1: rgba(255, 255, 255, 1);
  --jp-content-font-color2: rgba(255, 255, 255, 0.7);
  --jp-content-font-color3: rgba(255, 255, 255, 0.5);
  --jp-layout-color0: #111;
  --jp-layout-color1: var(--md-grey-900);
  --jp-layout-color2: var(--md-grey-800);
  --jp-layout-color3: var(--md-grey-700);
  --jp-layout-color4: var(--md-grey-600);
}
