p[data-line-number].line::before {
  content: attr(data-line-number);
  position: absolute;
  left: 0;
  font-family: monospace;
  width: 1.25em;
  text-align: right;
  user-select: none;
  color: gray;
  overflow: hidden;
}

p.line {
  position: relative;
  margin: 0;
}
